<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://org.ifc4emf.metamodel.ifcheader.ecore/"
            class="org.ifc4emf.metamodel.ifcheader.Part21Package"
            genModel="model/part21.genmodel"/>
   </extension>

</plugin>
